# Virtual Environment
# -------------------
venv/
.venv/
env/
.env/

# Environment variables
# ---------------------
.env
.env.*
! -f .env.example

# Python Artifacts
# ----------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Project-specific ignores
# ------------------------

# Ignore uploaded files and generated reports
uploads/
reports/

# Database
potholes.db

# IDE / Editor specific files
# ---------------------------
.idea/
.vscode/
*.swp
*.swo
